<div class="container">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <th>{{todo.id}}</th>
        <td>{{todo.Name}}</td>
        <td>{{todo.Description | lowercase}}</td>
        <td>{{todo.Category}}</td>
        <td>{{todo.DueDate | date}}</td>
        <td>{{todo.Status}}</td>
        <td><button type="button" class="btn btn-primary"
          [routerLink]="['/detail', todo.id]">View</button></td>
        <td ><button type="button" class="btn btn-danger"
            (click)="deleteTodo(todo)">Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<!--<app-detail [todo]="selectedTodo"></app-detail>-->